img {
	width:300px;
	
    
	
	 
	
	
}

body {
	text-align: left;
	
	font-family:cursive;
	
    background-color:PaleTurquoise;



}


div {
	
	text-align:center;

}

span {
	
	padding-left:300px
	
}

	




	
	
	
	
	



       

	   
	
	
	
	



	
	
	












	
